<!--<nav class="nav flex-column">-->
<!--  <a id="lien_horloge" class="nav-link" routerLinkActive="active" routerLink="/horloge">Horloge a CO2</a>-->
<!--  <a id="lien_Janitza604-PRO" class="nav-link" routerLinkActive="active" routerLink="/power/Janitza 604-PRO">Janitza 604-PRO</a>-->
<!--  <a id="lien_Janitza604" class="nav-link" routerLinkActive="active" routerLink="/power/Janitza 604">Janitza 604</a>-->
<!--  <a id="lien_Janitza508" class="nav-link" routerLinkActive="active" routerLink="/power/Janitza 508">Janitza 508</a>-->
<!--</nav>-->
<mat-drawer-container autosize class="nav-container">
	<mat-drawer #drawer mode="side">
		<mat-tab-group>
			<mat-tab label="Horloges">
				<a class="boutonNav" id="lien_horloge" routerLink="/horloge" routerLinkActive="active">Horloge a CO2</a>
			</mat-tab>
			<mat-tab label="Capteurs Janitzas">
				<a class="boutonNav" id="lien_Janitza604-PRO" routerLink="/power/Janitza 604-PRO"
				   routerLinkActive="active">Janitza 604-PRO</a>
				<a class="boutonNav" id="lien_Janitza604" routerLink="/power/Janitza 604" routerLinkActive="active">Janitza
					604</a>
				<a class="boutonNav" id="lien_Janitza508" routerLink="/power/Janitza 508" routerLinkActive="active">Janitza
					508</a>
				<a class="boutonNav" id="lien_Janitza96RM-EL1" routerLink="/power/Janitza 96RM-EL 1"
				   routerLinkActive="active">Janitza 96RM-EL 1</a>
				<a class="boutonNav" id="lien_Janitza96RM-EL2" routerLink="/power/Janitza 96RM-EL 2"
				   routerLinkActive="active">Janitza 96RM-EL 2</a>
			</mat-tab>
		</mat-tab-group>
	</mat-drawer>

	<div id="values">
		<router-outlet></router-outlet>
	</div>
</mat-drawer-container>
<i (click)="drawer.toggle()" class="material-icons" id="toggleNav">drag_handle</i>
<footer>
	<h5 id="clock">00:00:00</h5>
	<h5 class="center" id="nomCapteur"></h5>
	<img id="logoEAI" src="assets/img/logo2.png"/>
</footer>
